.header {
  background-color: black;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: space-between;
}

.logoContainer {
  height: 96px;
  padding: 38px 131px 38px 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 72px;
}
