.blackBackground {
  background-color: black;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.whiteBackground {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 2rem;
}

.whiteText {
  color: black;
}

.image_container {
  width: 100%;
}

.image_container img {
  overflow: visible;
  display: block;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.blackBackground_left {
  min-width: 618px;
  padding-left: 72px;
  padding-top: 68px;
}

.blackBackground_container {
  display: flex;
}

.main_text {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  color: white;
  min-width: 618px;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -6%;
  word-wrap: pre-line;
}

.small_text {
  padding-top: 24px;
  padding-bottom: 56px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: rgba(191, 191, 191, 1);
  min-width: 618px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -6%;
  word-wrap: pre-line;
}
