.blackBackground {
  background-color: black;
  width: 100vw;
  /* height: 600px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.whiteBackground {
  background-color: white;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 2rem;
}

.whiteText {
  color: black;
}

.image {
  margin-top: 32px;
  margin-bottom: 32px;
}

.image_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.image_container img {
  overflow: visible;
  display: block;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.blackBackground_left {
  min-width: 618px;
  padding-left: 72px;
  padding-top: 68px;
}

.blackBackground_container {
  display: flex;
}

.main_text {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  color: white;
  min-width: 618px;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -6%;
  word-wrap: pre-line;
}

.small_text {
  padding-top: 24px;
  padding-bottom: 56px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: rgba(191, 191, 191, 1);
  min-width: 618px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -6%;
  word-wrap: pre-line;
}

.container {
  display: flex;
  width: 100%;
  /* z-index: 5; */
}

.container .left_container {
  flex: 0 0 30%;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container .right_container {
  flex: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  p {
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -6%;
  }
}

.right_wrapper {
  width: 800px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.left_wrapper {
  width: 314px;
  margin-top: 96px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
