.footer {
  background-image: url("/images/footer_bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  background-size: 525 544;
  background-position: calc(100% - 117px) 16px;
}

.footerContainer {
  margin-left: 72px;
  width: 100%;
}

.up_wrapper {
  width: 800px;
  margin-top: 96px;
  margin-bottom: 64px;
}

.main_text {
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 500;
  color: white;
  min-width: 618px;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -6%;
  word-wrap: pre-line;
}

.down_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.container {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text {
  text-align: left;
  font-size: 16px;
  white-space: nowrap;
  line-height: 32px;
}

.text span:first-child {
  display: block;
  color: #808080;
  margin-bottom: 10px;
}

.underline_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-right: 72px;
  margin-top: 56px;
  margin-bottom: 40px;
  span {
    white-space: nowrap;
  }
}

.underline {
  text-decoration: underline;
}
