.blackBackground {
  background-color: black;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-size: 2rem;
  color: black;
  opacity: 1;
  animation: fadeInText 2s ease-out forwards;
}

@keyframes fadeInText {
  0% {
    color: black;
    opacity: 0;
  }
  50% {
    color: black;
    opacity: 0.5;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
